@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
.ui .menu {
    width:100%;
    padding:20px;
    background-color:rgba(52, 73, 94,1.0);
    text-align:center;
    color:white;
}
.app-container {
    margin-top:10px;
}
footer {
    background-color: rgba(44, 62, 80, 1.0);
    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
    margin-top:50px;
}
.footerHeader{
    width:100%;
    padding:20px;
    background-color:rgba(52, 73, 94,1.0);
    text-align:center;
    color:white;
}
.footerFooter {
    width:100%;
    padding:20px;
    background-color: rgb(43, 72, 94);
    text-align:center;
    color:white;
}
footer h3{
    font-weight:lighter;
}
footer ul{
    padding-left:5px;
    list-style:none;
}
footer p{
    text-align : justify;
    font-size : 12px;
}
footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
}
.sm li a img {
    width:32px;
}
.storyHeader img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif !important;
}
p, span, a {
    font-family: 'Nunito', sans-serif !important;
}
.updateAction a, .updateAction a:hover, .updateAction a:active {
    color: white;
}
.updateAction {
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid cornflowerblue;
}
.kidUpdateStory textarea {
    resize: none;
    height: 300px;
}
.ui .form input, .ui .form textarea, .ui .form select, .ui .form input:focus, .ui .form textarea:focus, .ui .form select:focus {
    background: #d6fffe54;
}
.update {
    /*border-bottom: 1px solid cornflowerblue;*/
    margin-bottom: 10px;
}
